{% extends 'foundation.html' %}
{% block content %}

<div class="container">
<br/>
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <center>
                <h5 class="card-title">{{ product.name }}</h5>
                <br/>
                <p class="card-text justified">{{ product.description }}</p>
                {% if product.is_on_sale %}

                    <!-- Sale stars -->
                    <div class="d-flex justify-content-center small text-warning mb-2" style="background-color: black; padding: 0.5rem; border-radius: 0.25rem;">
                    <div class="bi-star-fill"></div>
                    &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                    <div class="bi-star-fill"></div>
                    </div>
                    <!-- Product price-->
                    <strike>KES{{ product.price }}</strike>
                    &nbsp;
                    KES{{ product.sale_price }}

                {% else %}
                    KES{{ product.price }}
                    <br/>
                {% endif %}
                <br/><br/>
                <!-- Home button-->
                <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                <!-- Add-to-cart button-->
                <button type="button" class="btn btn-secondary" value="{{ product.id }}" id="add-cart" >Add to cart</button>
                </center>
              </div>
            </div>
          </div>
        </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/>
<script>
// Assess if the button is pressed
// Event listener to detect a click on the element with ID 'add-cart'
$(document).on('click', '#add-cart', function(e){
    // Prevent the default action from occuring
    e.preventDefault();

    // Make an AJAX POST request to the server
    $.ajax({
       type: 'POST',
       url: '{% url 'cart_add' %}',
       data: {
           product_id: $('#add-cart').val(),
           csrfmiddlewaretoken: '{{ csrf_token }}',
           action: 'post'
       },
       // Callback function to handle a successful response
       success: function(json){
           //console.log(json)
           document.getElementById("cart_number").textContent = json.num      
       },
       // Callback function to handle errors if the request fails
       error: function(xhr, errmsg, err){

       }

    });


})

</script>
{% endblock %}
