{% extends 'foundation.html' %}
{% block content %}

<!-- Header-->
        <header style="background-color: #004d00; color: #C0C0C0;" class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center">
                    <h1 class="display-4 fw-bolder">Search through products</h1>
                    <p class="lead fw-normal text-white-50 mb-0">What are you looking for?</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                        <br/><br/>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}
