{% extends 'foundation.html' %}
{% block content %}

<!-- Header-->
        <header style="background-color: #004d00; color: #C0C0C0;" class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center">
                    <h1 class="display-4 fw-bolder">Search through products</h1>
                    <p class="lead fw-normal text-white-50 mb-0">What are you looking for?</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
<div class="card">
  <div class="card-header">
    Search through products
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Search for products" name="asked">
        </div>
    <button type="submit" class="btn btn-secondary">Search</button>
    </form>
  </div>
</div>
<br/>
{% if asked %}

{{ asked }}

{% endif %}
<br/><br/><br/><br/><br/><br/>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}
