{% extends 'foundation.html' %}

{% block content %}
        <!-- Header-->
        <header style="background-color: #004d00; color: #C0C0C0;" class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center">
                    <h1 class="display-4 fw-bolder">Shopping cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Check your cart..</p>
                </div>
            </div>
        </header>
<br/><br/><br/><br/><br/><br/><br/>
{% endblock %}
