{% extends 'foundation.html' %}

{% block content %}
        <!-- Header-->
        <header style="background-color: #004d00; color: #C0C0C0;" class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center">
                    <h1 class="display-4 fw-bolder">Shopping cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Check your cart..</p>
                </div>
            </div>
        </header>
        <br/>
        <div class="container">
        {% if cart_products %}
            {% for product in cart_products %}
                
		<div class="container">
		<br/>
			<div class="card mb-3">
			  <div class="row g-0">
			    <div class="col-md-4">
			      <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
				<center>
				<h5 class="card-title">{{ product.name }}</h5>
				<br/>
				<p class="card-text justified">{{ product.description }}</p>
				{% if product.is_on_sale %}

				    <!-- Sale stars -->
				    <div class="d-flex justify-content-center small text-warning mb-2" style="background-color: black; padding: 0.5rem; border-radius: 0.25rem;">
				    <div class="bi-star-fill"></div>
				    &nbsp;&nbsp;Sale!&nbsp;&nbsp;
				    <div class="bi-star-fill"></div>
				    </div>
				    <!-- Product price-->
				    <strike>KES{{ product.price }}</strike>
				    &nbsp;
				    KES{{ product.sale_price }}

				{% else %}
				    KES{{ product.price }}
				    <br/>
				{% endif %}
				<br/><br/>
				<div class="row justify-content-center">
				    <div class="col-md-2">Quantity:</div>
				    <div class="col-md-2">
				    <select class="form-select" id="select{{product.id}}">
				       {% for key, value in quantities.items %}
				           {% if key == product.id|slugify %}
					        <option selected>{{ value }}</option>
					   {% endif %}
			               {% endfor %}
				       <option value="1">1</option>
				       <option value="2">2</option>
				       <option value="3">3</option>
				       <option value="3">4</option>
				       <option value="3">5</option>
				    </select>
				    </div>
				</div>
                                <br/><br/>
				<!-- Home button-->
				<a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                                <!-- Update cart button-->
                                <button type="button" class="btn btn-secondary update-cart" data-index="{{product.id}}">Update</button>				
                                <!-- Remove button-->
                                <button type="button" class="btn btn-danger remove-product" data-index="{{product.id}}">Remove Item</button>				
				</center>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
            {% endfor %}
             <br/>
            <h3>Cart Total: KES {{ sums }}</h3>
            <br/><br/><br/><br/>
            {% else %}
            Nada in your cart  :\
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        {% endif %}
        </div> 
<br/><br/><br/><br/><br/><br/><br/>

<script>
// Update cart
$(document).on('click', '.update-cart', function(e){
    // Prevent the default action from occuring
    e.preventDefault();
    // Get the product ID
    var productID = $(this).data('index');
    // Get the selected quantity from the dropdown
    var selectedQuantity = $('#select' + productID + ' option:selected').text();
    // Make an AJAX POST request to the server
    $.ajax({
       type: 'POST',
       url: '{% url 'cart_update' %}',
       data: {
           product_id: productID,
           product_quantity: selectedQuantity,
           csrfmiddlewaretoken: '{{ csrf_token }}',
           action: 'post'
       },
       // Callback function to handle a successful response
       success: function(json){
           location.reload();      
       },
       // Callback function to handle errors if the request fails
       error: function(xhr, errmsg, err){
           console.error(`Error: ${errmsg}`);
           alert("Failed to update the cart. Please try again.");
       }

    });


})

// Remove from cart
$(document).on('click', '.remove-product', function(e){
    // Prevent the default action from occuring
    e.preventDefault();
    // Get the product ID
    var productID = $(this).data('index');

    // Make an AJAX POST request to the server
    $.ajax({
       type: 'POST',
       url: '{% url 'cart_delete' %}',
       data: {
           product_id: productID,
           csrfmiddlewaretoken: '{{ csrf_token }}',
           action: 'post'
       },
       // Callback function to handle a successful response
       success: function(json){
           location.reload();      
       },
       // Callback function to handle errors if the request fails
       error: function(xhr, errmsg, err){
           
       }

    });


})

</script>

{% endblock %}
